:root {
    --primary-font: 'Roboto';
    --secondary-font: 'Russo one';
    --thirdly-font: 'Quicksand';
    /*-----------------------------------------------------*/
    --primary-color: #252525;
    --secondary-color: #F47726;
}