.skeleton {
    width: 304px;
    height: 304px;
  }
  .skeleton .image,
  .skeleton .line {
    background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
    background-size: calc(304px + 100px);
    animation: refresh 2s infinite ease-out;
  }
  .skeleton .image {
    height: 304px;
    width: 304px;
    border-radius: 10px;
  } 
  @keyframes refresh {
    0% {
      background-position: calc(-100px);
    }
    40%, 100% {
      background-position: 304px;
    }
  }